body {
    background-color: rgb(82, 124, 138);
}
/*elementos*/
h1 {
    color: #46f810;
    text-align: center;

}

h3 {
    text-align: center;
    color: #cec0d4;
}

h4 {
    text-align: center;
    color: #00fff0;
}

input {
    text-align: center;
    background-color: rgb(94, 172, 146);
}

.h6 {
    text-align: center;
    color: beige;
}

#h5 {
    text-align: center;
    color: brown;
}

#button-href{ 
              text-align: center;
} 
